{% for controller in controllers %}
    <h2>{{ controller.shortDescription }}</h2>
    <p>{{ controller.longDescription }}</p>
    {% if controller.hasLabel('authenticated') %}
        <div class="warning">Require login and password!</div>
    {% endif %}
    <p>List of supported actions:
        <ul>
            {% for action in controller.actions %}
                <li>{{ action }}</li>
            {% endfor %}
        </ul>
    </p>
    <p>Get params available for index action:</p>
        <ul>
            {% for item in controller.query %}
                <li>
                    <b>{{ item.variableName }}</b> - {{ item.description }}, default - {{ item.defaultValue }}
                </li>
            {% endfor %}
        </ul>
    </p>
    <p>Model fields:</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Can be updated?</th>
        </tr>
        {% for item in controller.model.fields %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.isInScenario('api-update')  ? 'yes' : 'no' }}</td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}
